# Trading Strategies

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
pd.options.mode.chained_assignment = None
# Don't show the waring when writing in a copy slice, not the original data.

## Load data

In [4]:
dataset = pd.read_csv('AAPL.csv') 
dataset

            Open        High         Low       Close   Adj Close     Volume
0       0.936384    1.004464    0.907924    0.999442    0.850643  535796800
1       0.966518    0.987723    0.903460    0.915179    0.778926  512377600
2       0.926339    0.987165    0.919643    0.928571    0.790324  778321600
3       0.947545    0.955357    0.848214    0.848214    0.721930  767972800
4       0.861607    0.901786    0.852679    0.888393    0.756128  460734400
...          ...         ...         ...         ...         ...        ...
5782  130.919998  132.419998  129.639999  131.860001  131.658981   63814900
5783  131.380005  131.410004  128.720001  130.029999  129.831772   69007800
5784  129.669998  131.029999  125.870003  126.040001  125.847855   85438400
5785  127.989998  130.479996  127.730003  129.610001  129.412415   75703700
5786  128.410004  129.949997  127.430000  129.929993  129.731918   77034200

[5787 rows x 6 columns]

## Create features

In [5]:
dataset = dataset.dropna() 
dataset = dataset[['Open', 'High', 'Low', 'Close']]

dataset['H-L'] = dataset['High'] - dataset['Low'] 
dataset['O-C'] = dataset['Close'] - dataset['Open'] 
dataset['3day MA'] = dataset['Close'].shift(1).rolling(window = 3).mean() 
dataset['10day MA'] = dataset['Close'].shift(1).rolling(window = 10).mean() 

dataset['30day MA'] = dataset['Close'].shift(1).rolling(window = 30).mean() 
dataset['Std_dev']= dataset['Close'].rolling(5).std() 

dataset['Price_Rise'] = np.where(dataset['Close'].shift(-1) > dataset['Close'], 1, 0)
dataset = dataset.dropna()
dataset.head()

,Open,High,Low,Close,H-L,O-C,3day MA,10day MA,30day MA,Std_dev,Price_Rise
30,1.029018,1.070871,1.028460,1.062500,0.042411,0.033482,1.006138,0.973214,0.939639,0.033990,0
31,1.051339,1.054688,1.001116,1.018973,0.053572,-0.032366,1.022507,0.989955,0.941741,0.033357,1
32,1.028460,1.031250,1.010045,1.025670,0.021205,-0.002790,1.038504,1.003627,0.945201,0.033203,0
33,1.023438,1.030134,0.989955,0.993304,0.040179,-0.030134,1.035714,1.013951,0.948437,0.025057,1
34,0.983259,1.044085,0.952567,1.016183,0.091518,0.032924,1.012649,1.016853,0.953274,0.025057,1