# Predicting LendingClub Loan Status


[LendingClub](https://www.lendingclub.com/) is a US peer-to-peer lending company and the world's largest peer-to-peer lending platform. In this project, we build machine learning models to predict the probability that a loan on LendingClub will charge off (kind of default). These models could help LendingClub investors make better-informed investment decisions.

A charge-off or chargeoff is the declaration by a creditor (usually a credit card account) that an amount of debt is unlikely to be collected. This occurs when a consumer becomes severely delinquent on a debt. Traditionally, creditors will make this declaration at the point of six months without payment. A charge-off is a form of write-off. 

In training the models, we only use features that are known to investors before they choose to invest in the loan.

# Import the Data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pd.options.mode.chained_assignment = None 
# Close the waring about "A value is trying to be set on a copy of a slice from a DataFrame"

In [4]:
loans = pd.read_csv('loans_num.csv')
loans.head()

,loan_amnt,int_rate,installment,emp_length,dti,log_annual_inc,log_revol_bal,charged_off
0,5000.0,10.65,162.87,10.0,27.65,4.380229,4.135101,False
1,2500.0,15.27,59.83,0.0,1.00,4.477136,3.227372,True
2,2400.0,15.96,84.33,10.0,8.72,4.088242,3.470851,False
3,10000.0,13.49,339.31,10.0,20.00,4.691974,3.748110,False
4,5000.0,7.90,156.46,3.0,11.20,4.556315,3.901131,False

In [5]:
loans.shape

(243074, 8)

In [6]:
loans.describe()

,loan_amnt,int_rate,installment,emp_length,dti,log_annual_inc,log_revol_bal
count,243074.000000,243074.000000,243074.000000,243074.000000,243074.000000,243074.000000,243074.000000
mean,13677.345273,13.762363,421.238995,5.829579,16.500254,4.805452,3.971718
std,8144.728814,4.403093,245.291980,3.621042,7.761498,0.221326,0.559002
min,500.000000,5.320000,15.690000,0.000000,0.000000,3.602169,0.000000
25%,7500.000000,10.740000,243.237500,2.000000,10.740000,4.653222,3.772395
50%,12000.000000,13.530000,368.450000,6.000000,16.155000,4.799347,4.042536
75%,18600.000000,16.550000,550.230000,10.000000,21.920000,4.948418,4.283137
max,35000.000000,28.990000,1424.570000,10.000000,57.140000,6.939848,6.242223

In [7]:
loans['charged_off'].value_counts()

False    200351
True      42723
Name: charged_off, dtype: int64